body {
        font-family: Arial, sans-serif;
        background: #0f0c29;
        background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
        color: white;
        padding: 20px;
        margin: 0;
    }

    h1 {
        text-align: center;
        font-size: 1.8em;
    }
    /* from: fonts.google.com */
    .libre-barcode-128-regular {
        font-family: "Libre Barcode 128", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 7em;
    }


    .container {
        background: rgba(255,255,255,0.1);
        padding: 20px;
        border-radius: 15px;
        max-width: 500px;
        margin: auto;
        backdrop-filter: blur(5px);
    }

    label {
        display: block;
        margin-top: 15px;
        font-size: 1.1em;
    }
    input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 8px;
        border: none;
        font-size: 1.1em;
    }

    button {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        background: #00dd90;
        color: #000;
        border: none;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .result-box {
        margin-top: 20px;
        background: rgba(0,0,0,0.3);
        padding: 15px;
        border-radius: 10px;
    }

    .result-box p {
        font-size: 1.3em;
    }

    .radio-block {
        margin-top: 10px;
    }
    .menu-button {
    background: #00dd90;
    color: black;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
}

/* Hidden panel */
.menu-panel {
    display: none;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.menu-panel a {
    display: block;
    padding: 10px;
    color: #00dd90;
    font-size: 1.2em;
    text-decoration: none;
}

.menu-panel a:hover {
    text-decoration: underline;
}
